// var

$ipad: 812px;
$highlight: #b4b4b4;

// mixins

@mixin focus() {
	&:focus {
		outline: $highlight solid 3px;
	}
}

// children

@import './navi';
@import './home';
@import './music';
// @import './scores';
@import './videos';
// @import './code';
@import './info';

// structure

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: black;
	-webkit-text-size-adjust: 100%;
	background-image: url('./images/background.png');
	background-size: 30px 30px;
	background-color: #e5e5e5;
}

#root {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: minmax(160px, auto) max-content;
	grid-gap: 0px;
	grid-template-areas: 'h' 'm';
}

.header {
	height: 160px;
	max-width: 100%;
	margin: 0 20px;
	display: grid;
	grid-area: h;

	@media (max-width: $ipad) {
		height: 100px;
		margin: 160px 20px -20px 20px;
	}
}

main {
	grid-area: m;
	height: fit-content;
	width: calc(100vw - 70px);
	margin: 20px 35px;

	@media (max-width: $ipad) {
		height: fit-content;
		width: calc(100vw - 40px);
		margin: 20px;
	}
}
