.code {
	display: grid;

	iframe.video {
		@include video();
	}

	iframe.website {
		height: calc(100vh - 200px);
		width: inherit;

		@media (max-width: $ipad) {
			height: calc(100vh - 40px);
		}
	}

	iframe.maxmsp {
		height: 748px;
		width: inherit;
	}

	.readme {
		@include highlight_text();
		width: inherit;
		text-align: justify;
		cursor: default;

		@media (max-width: $ipad) {
			margin: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		a {
			@include focus();
			color: black;
			text-decoration: underline;
		}

		blockquote {
			margin: 0;
		}

		h1 {
			text-align: left;
		}

		img {
			max-width: 100%;
		}

		summary {
			@include focus();
			margin: 5px 0;
		}

		pre {
			overflow-x: scroll;
		}

		table {
			width: 80%;
			margin: auto;
			border-collapse: collapse;

			td,
			th {
				border: 2px black solid;
				&:first-of-type {
					border-left: 0;
				}
				&:last-of-type {
					border-right: 0;
				}
			}

			td {
				border-bottom: 0;
			}

			th {
				border-top: 0;
			}
		}
	}
}
