.code {
	display: grid;

	iframe {
		user-select: none;

		&.video {
			@include video;
		}
		
		&.website {
			height: calc(100vh - 200px);
			width: inherit;
			
			@media (width <= $ipad) {
				height: calc(100vh - 40px);
			}
		}
		
		&.maxmsp {
			height: 748px;
			width: inherit;
		}
	}

	.readme {
		@include highlight_text;
		width: inherit;
		text-align: justify;
		cursor: default;

		@media (width <= $ipad) {
			margin: 0;
		}
		
		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		a {
			@include focus;
			color: black;
			text-decoration: underline;
		}
		
		blockquote {
			margin: 0;
		}
		
		h1 {
			text-align: left;
		}
		
		img {
			max-width: 100%;
			user-select: none;
		}

		summary {
			@include focus;
			margin: 5px 0;
		}

		pre {
			overflow-x: scroll;
		}

		table {
			width: 80%;
			margin: auto;
			border-collapse: collapse;

			td {
				border: 2px black solid;
				border-bottom: 0;
			}
			
			th {
				border: 2px black solid;
				border-top: 0;
			}

			td,
			th {
				&:first-of-type {
					border-left: 0;
				}

				&:last-of-type {
					border-right: 0;
				}
			}
		}
	}
}
