.music {
	margin-top: 20px;

	button {
		height: 100%;
		width: 100%;
		padding: 0;
		border: 0;
		background: transparent;
		cursor: pointer;

		@include focus;

		img {
			height: 100%;
			width: 100%;
			user-select: none;
			-webkit-user-select: none;
		}
	}
}
