.music {
	margin-top: 20px;

	.albumcover {
		height: 100%;
		width: 100%;
		cursor: pointer;

		@include focus;

		img {
			height: 100%;
			width: 100%;
			user-select: none;
			-webkit-user-select: none;
		}
	}
}
