nav {
	grid-area: h;
	height: fit-content;
	width: 130px;
	margin: 19.5px 0 0 35px;
	position: absolute;
	left: 0;
	right: unset;
	z-index: 10;

	@media (max-width: $ipad) {
		margin: 19.5px 19.5px 0 0;
		left: unset;
		right: 0;
	}

	.navi-cable {
		height: 13.5px;
		width: 100%;
		position: relative;

		> svg {
			position: absolute;
			top: 0;
		}
	}

	> div {
		float: right;
	}
}
